/* ------- GENERAL STYLES ------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

:root {
  --white: hsl(0, 0%, 100%);
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkSaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(232, 10%, 55%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --headersFont: "Fraunces", serif;
  --bodyFont: "Barlow", sans-serif;
  --padding: 3rem;
}
.row-flex-withSpaceBetween {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.column-flex-withSpaceAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--headersFont);
  font-weight: 900;
}
ul {
  list-style: none;
}
p {
  font-family: var(--bodyFont);
  font-weight: 600;
}
/* for mobile devices */
/* --top section-- */
body {
  font-size: 2rem;
}
.top {
  background: url("../images/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--padding);
  color: var(--white);
  font-size: 2rem;
  font-family: var(--bodyFont);
}
.top .top--header > img {
  cursor: pointer;
}
.top--header .links {
  display: none;
}

.top .top--header .links ul {
  gap: 3rem;
}

.top .top--header__text {
  text-align: center;
  font-family: var(--headersFont);
  line-height: 1.5;
  word-spacing: 1.5rem;
  letter-spacing: 0.5rem;
  margin-top: 5rem;
}

/* clip-path: polygon(
  20% 20%,
  85% 20%,
  100% 0,
  100% 100%,
  20% 100%,
  0 100%,
  0% 20%
); */

.top .top--header__text img {
  margin-top: 1rem;
}
.top .top--header #menu--bar {
  /*give a background color for the menu bar*/
  background: var(--darkGrayishBlue);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0.2rem solid var(--white);
}
@media screen and (max-width: 330px) {
  /* for smaller devices */
  /* top section */
  .top .top--header__text h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  /* for bigger devices */
  /* top section */
  .top {
    background: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .top--header .links {
    display: block;
  }

  .top .top--header #menu--bar {
    display: none;
  }

  .top .top--header .links ul a {
    color: var(--white);
  }
  .top .top--header .links ul #last {
    background: var(--white);
    color: var(--veryDarkDesaturatedBlue);
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-family: var(--headersFont);
  }
}

/* for mobile devices*/
/* --about section-- */

.about .about--1 .images--1 .about--1__desktopImage,
.about .about--2 .images--2 .about--2__desktopImage {
  display: none;
}
.about .about--1 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about .about--1 .images--1 .about--1__mobileImage,
.about .about--2 .images--2 .about--2__mobileImage {
  object-fit: cover;
  width: 100%;
}
.about .about--1 .about--1__text,
.about .about--2 .about--2__text {
  text-align: center;
  padding: var(--padding);
}

.about h2 {
  color: var(--veryDarkDesaturatedBlue);
}
.about p {
  color: var(--veryDarkGrayishBlue);

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about a {
  color: var(--veryDarkDesaturatedBlue);
  text-transform: uppercase;
  font-family: var(--headersFont);
  font-weight: 900;
  text-decoration: solid underline var(--yellow) 0.5rem;
}

.about .about--2 .about--2__text a {
  text-decoration: solid underline var(--softRed) 0.5rem;
}

@media screen and (min-width: 768px) {
  /* for bigger devices */
  /* about section */
  .about .about--1 .about--1__text,
  .about .about--2 .about--2__text {
    width: 50%;
  }
  .about .images--1,
  .about .images--2 {
    width: 50%;
  }
  .about .about--1 .images--1 .about--1__desktopImage,
  .about .about--2 .images--2 .about--2__desktopImage {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  .about .about--1 .images--1 .about--1__mobileImage,
  .about .about--2 .images--2 .about--2__mobileImage {
    display: none;
  }
  .about .about--1 .about--1__text,
  .about .about--2 .about--2__text {
    text-align: center;
    padding: 0 var(--padding);
  }

  .about .about--1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* info section */
/* for mobile devices */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info--graphics,
.info--photo {
  position: relative;
  text-align: center;
  margin-top: -1rem;
}

.info .info--graphics .info--graphics__mobileImage,
.info .info--photo .info--photo__mobileImage {
  width: 100%;
  object-fit: cover;
}

.info .info--graphics .info--graphics__desktopImage,
.info .info--photo .info--photo__desktopImage {
  display: none;
}
.info .info--graphics .info--graphics__textBody,
.info .info--photo .info--photo__textBody {
  position: absolute;
  top: 70%;
}

.info .info--graphics .info--graphics__textBody h3 {
  color: var(--darkSaturatedCyan);
}
.info .info--graphics .info--graphics__textBody p {
  margin-top: 2rem;
  color: var(--darkSaturatedCyan);
  padding: 2rem;
  line-height: 1.2;
}

.info .info--photo .info--photo__textBody h3 {
  color: var(--darkBlue);
}

.info .info--photo .info--photo__textBody p {
  margin-top: 2rem;
  color: var(--darkBlue);
  padding: 2rem;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .info .info--graphics,
  .info .info--photo {
    width: 50%;
  }
  .info .info--graphics .info--graphics__mobileImage,
  .info .info--photo .info--photo__mobileImage {
    display: none;
  }
  .info .info--graphics .info--graphics__desktopImage,
  .info .info--photo .info--photo__desktopImage {
    display: block;
    width: 100%;
  }
  .info .info--graphics .info--graphics__textBody,
  .info .info--photo .info--photo__textBody {
    position: absolute;
    top: 45%;
  }
  .info .info--graphics .info--graphics__textBody p,
  .info .info--photo .info--photo__textBody p {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 850px) {
  .info .info--graphics .info--graphics__textBody,
  .info .info--photo .info--photo__textBody {
    top: 50%;
  }
}
@media screen and (min-width: 1160px) {
  .info .info--graphics .info--graphics__textBody,
  .info .info--photo .info--photo__textBody {
    top: 70%;
  }
}
@media screen and (max-width: 370px) {
  .info .info--graphics .info--graphics__textBody,
  .info .info--photo .info--photo__textBody {
    top: 45%;
  }
}
/* testimonials section */
/* for mobile devices */
.testimonials {
  margin-top: 5rem;
  text-align: center;
}
.testimonials > h4 {
  line-height: 1.5;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
  color: var(--grayishBlue);
}
.testimonials .testimonials--list {
  margin-top: 7rem;
  padding: var(--padding);
  gap: 7rem;
}
.testimonials img {
  border-radius: 50%;
  width: 10rem;
  object-fit: cover;
}
.testimonials p {
  color: var(--veryDarkDesaturatedBlue);
  line-height: 1.5;
}
.testimonials .last-paragraph {
  color: var(--grayishBlue);
}
.testimonials .testimonials--list .testimonials--listText__1,
.testimonials .testimonials--list .testimonials--listText__2,
.testimonials .testimonials--list .testimonials--listText__3 {
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  /* for bigger devices */
  /* testimonials section */
  .row-flex-withSpaceAround {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .testimonials .testimonials--list {
    gap: 5rem;
  }
  .divided {
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  .divided {
    width: 30%;
  }
}

/* gallery section */
/* for mobile devices */
.desktop1,
.desktop2,
.desktop3,
.desktop4 {
  display: none;
}
.mobile1,
.mobile2,
.mobile3,
.mobile4 {
  object-fit: cover;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 1000px) {
  /* for larger screens */
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .desktop1,
  .desktop2,
  .desktop3,
  .desktop4 {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  .mobile1,
  .mobile2,
  .mobile3,
  .mobile4 {
    display: none;
  }
}

/* footer section */
/* for mobile devices */
.footer {
  background-color: var(--darkModerateCyan);
  text-align: center;
  padding: 7rem var(--padding) 1rem var(--padding);
}
.footer path {
  fill: var(--darkSaturatedCyan);
}

.footer a {
  color: var(--darkSaturatedCyan);
}
.footer ul {
  margin-top: 3rem;
  justify-content: center;
  gap: 5rem;
}
.footer .social-icons {
  margin: 5rem 0;
  gap: 2.5rem;
  cursor: pointer;
  justify-content: center;
}
@media  screen and (max-width: 360px) {
  .footer ul {

  gap: 1.5rem;
}
}
/* --end section-- */
.attribution {
  font-size: 1.5rem;
  text-align: center;
}
.attribution a {
  color: var(--white);
}
